![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [3]:
# Import pandas 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Threshold for maths best score
Best_maths_score = 800 *0.8 

# filtering the schools with  the best maths score 
Best_schools_in_maths = schools[schools["average_math"] >= Best_maths_score]
#print(Best_schools_in_maths)

#saving the result into pandas dataframe and sorting by average math
best_math_schools = Best_schools_in_maths[['school_name', 'average_math']].sort_values(by = 'average_math', ascending = False)
print(best_math_schools)


#Determing the top 10 performing schools based on the combine sat score
schools["total_SAT"] = schools['average_math'] + schools["average_reading"] + schools["average_writing"]

# sorting it by total SAT
top_10_schools = schools.sort_values('total_SAT', ascending = False).head(10)[["school_name", "total_SAT"]]
print(top_10_schools)


#Gething the borough stats and roundong the the results to 2 decimal place 
brorough_stats = schools.groupby("borough")['total_SAT'].agg(num_schools = "count", average_SAT = "mean", std_SAT = "std").round(2)

#Finding the borough with the largest standard deviation
largest_std_dev = brorough_stats.sort_values(by ='std_SAT', ascending = False).head(1).reset_index()

#printing the results 
print(largest_std_dev)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889
     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29